 h1 {
    color: #009999; /* this is a css comment */
    text-align: center;
 }

 p {
    text-align: center;
    background-color: #009999;
    width: 500px;
    border: 30px solid pink;
    padding: 80px;
    margin: 100px;
 }

 a {
    color: hotpink
 }
 a:hover {
    color: blue;
 }